@import "./variables.css";
@import "./reset.css";



/*STARTER CODE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
/*   font-family: system-ui, sans-serif; */
  color: #f0f0f0;
  background: #1a1a2e;
  font-family: "Barlow Semi Condensed", system-ui, sans-serif;
  font-size: 1.2rem;
  height: fit-content;
}

.spacer {
  position: relative;
  bottom: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -100;

}

/* The scene container */
.parallax-scene {
  position: relative;
  height: auto;
  min-height: 600vh;
  /* overflow: hidden; */
}


/* All layers fill the scene */
.layer {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star-layer {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
    pointer-events: none;
  z-index: -1;
}
#stars, #stars2, #stars3 {
  overflow: visible;
  position: fixed;
}

/* Background layer */
.layer--bg {
  z-index: 1;
}
#stars {
  width: 1px; 
  height: 1px;
}
.layer--mid {
  z-index: 2;
}
#stars2 {
  width: 2px; 
  height: 2px;
}

/* Foreground layer */
.layer--fg {
  position: absolute;
  z-index: 4;
}
#stars3 {
  width: 3px; 
  height: 3px;
}
.fg-text {
  text-align: center;
  text-shadow: 2px 2px #1a1a2e;
  position: absolute;
  top: 50vh;
  color: #FFCA42;
}
.fg-heading {
  font-size: 4rem;
  font-weight: 900;
}

#planet{
  height: 150vh;
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 3;
}

.hidden {
  display: none;
}


/*INTRO UFO SECTION*/
.column {
  width: 70%;
  max-width: 70%;
  height: 600vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  position: absolute;
  top: 200vh;
  text-align: left;
  overflow: visible;
}
.chapter{
  width: 80%;
}

.text-box{
  background: #FFCA42;
  color: #31236F;
  padding: 32px;
  width: 100%;
  margin: 32px auto;
  
}
.variables{
  border: 2px solid orange;
}
.conditionals {
  border: 2px solid yellow;
}
.events{
  border: 2px solid #0f0;
}
.toggle {
  border: 2px solid #0ff;
}
.tokens {
  border: 2px solid blue;
}

#ufo {
  width: 70%;
  height: auto;
  min-height: 200px; 
  flex-shrink: 0; 
  overflow: visible;
  will-change: transform;
}

.fire1, .fire2 {
  transform-origin: top center;
  transform: translateY(-80px);
}
.fire2{
  transform: translateX(-149px);
}

#lens {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 25%;
  height: fit-content;
}
#lens image {
  display: none;
}
