@import "./variables.css";
@import "./reset.css";

/*STARTER CODE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: auto !important; 
}

body {
  /*   font-family: system-ui, sans-serif; */
  color: #f0f0f0;
  background: var(--background);
  font-family: "Barlow Semi Condensed", system-ui, sans-serif;
  font-size: 1.25rem;
  height: auto;
}
.hidden {
  display: none;
}
/* THEME SWITCHER MENU */
.dropdown-container {
  color: var(--textcolor);
  width: fit-content;
  min-width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--textbg);
  text-align: center;
}
.menu-label {
  font-weight: 600;
  background-color: var(--textbg);
  cursor: pointer;
   transition: all 0.4s ease;
   width: 100%;
  padding: var(--sizexs);
}
.dropdown-options {
  display: none;
  position: absolute;
  background-color: var(--textbg);
  color: var(--textcolor);
  border: 1px solid (--textcolor);
  width: 100%;
  box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
  top: calc(100% + 5px);
  overflow: hidden;
  z-index: 100;
}
.dropdown-container.open .dropdown-options {
  display: flex;
  flex-direction: column;
}
.theme-btn {
  border: inherit;
  background: none;
  color: inherit;
  border-top: 1px solid var(--darkestpurple);
  padding: var(--sizexs);
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.theme-btn:hover {
  background-color: var(--lightgreen);
  color: var(--darkpurple);
}
.theme-btn.active {
  background-color: var(--brightgreen);
  color: var(--darkpurple);
}






 /*BACKGROUND & PARALLEX ELEMENTS*/
.star-container {
  position: relative;
  height: auto;
  overflow: visible !important;
}

/* The scene container */
.parallax-scene {
  position: relative;
  height: auto;
  min-height: 600vh;
  /* overflow: hidden; */
}

/* All layers fill the scene */
.layer {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: -1;
}
#stars,
#stars2,
#stars3 {
  overflow: visible;
  position: fixed;
}

/* Background layer */
#stars {
  width: 1px;
  height: 1px;
}
#stars2 {
  width: 2px;
  height: 2px;
}

/* Foreground layer */
.layer--fg {
  position: absolute;
  z-index: 4;
}
#stars3 {
  width: 3px;
  height: 3px;
}
.fg-text {
  text-align: center;
  text-shadow: 2px 2px var(--background);
  position: absolute;
  top: 50vh;
  color: var(--textbg);
}
.fg-heading {
  font-size: 4rem;
  font-weight: 900;
}

/* PLANET */
#planet {
  height: 150vh;
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 3;
}

/* LENS */
#lens {
  position: fixed;
  top: -100%;
  right: 0;
  z-index: 10;
  width: 25%;
  height: fit-content;
}
#lens image {
  display: none;
}


/*INTRO UFO SECTION & TEXT COLUMN*/
.column {
  width: 70%;
  max-width: 70%;
  position: relative;
  height: auto;
  min-height: 100vh;
  top: 200vh;
  /* border: 2px solid red; */
}
.chapter {
  width: 80%;
}

.text-box {
  position: absolute;
  top: 70%;
  left: 50%;
  background: var(--textbg);
  color: var(--textcolor);
  padding: var(--sizel);
  width: 90%;
  z-index: 20;
  visibility: hidden;
}

#ufo {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  min-height: 200px;
  flex-shrink: 0;
  overflow: visible;
  will-change: transform;
  z-index: 10;
  position: relative;
}

.fire2 {
  transform-origin: top center;
  transform: translateY(-100px);
  transform: translateX(-149px);
}
.fire1, .fire2 {
  stroke: var(--colorswap-light);
}
.brightgreen{
  fill: var(--colorswap-bright);
}
.brightorange{
  fill: var(--colorswap-bright-alt);
}
.dome-reflection{
  fill: var(--colorswap-light);
}
.lens-body{
  fill: var(--lenscolor);
}

/* BOTTOM ELEMENTS */

.spacer {
  position: relative;
  z-index: 100;
  min-height: 100vh;
  height: 250vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  top: 0;
  opacity: 70%;
}
.return-to-top {
  position: fixed;
  bottom: var(--sizexl);
  right: var(--sizexl);
  padding: 15px 25px;
  background-color: var(--textbg);
  color: var(--textcolor);
  border: none;
  cursor: pointer;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.return-to-top:hover {
  transform: scale(1.1);
  background-color: var(--textbg-hover);
}

footer p{
  color: var(--textbg);
  text-align: center;
  margin-bottom: 4rem;
}