/* VARIABLES */
:root {
  --brightpurple:#674ae8;
  --lightpurple:#a894ff;
  --darkpurple:#31236f;
  --darkerpurple:#1d1151;
  --darkestpurple: #1a1a2e;
  --brightpink:#fc76b1;
  --mediumpink:#f25c9e;
  --lightpink:#ffbcd9;
  --darkpink:#863056;
  --brightorange:#ff8149;
  --lightorange:#ffbd9f;
  --darkorange:#73381d;
  --brightgreen:#4ff3b1;
  --lightgreen:#abf2d6;
  --darkgreen:#196144;
  --brightyellow:#ffca42;
  --lightyellow:#ffe093;
  --darkyellow:#7b601c;
  

  --background:var(--darkestpurple);
  --textbg:var(--brightyellow);
  --textbg-hover: var(--lightyellow);
  --textcolor:var(--darkpurple);
  --lenscolor:var(--darkpink);
  --colorswap-bright: var(--brightgreen);
  --colorswap-light: var(--lightgreen);
  --colorswap-bright-alt: var(--brightorange);

  --fonts__headingfont:Alata;
  --fonts__bodyfont:Barlow Semi Condensed;
  --typesizes__bodysize:[object Object];
  --typesizes__h1size:[object Object];
  --typesizes__h2size:[object Object];
  --typesizes__h3size:[object Object];
  --typesizes__captionsize:[object Object];

  --sizes:16px;
  --sizexs:8px;
  --sizem:24px;
  --sizel:32px;
  --sizexl:48px;
  --sizexxl:64px;
}
